@model TurboRango.Dominio.Restaurante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao.Logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato.Telefone)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
